pytest
pytest-cov
pytest-flask
# Update Flask version to be compatible with requirements.txt
Flask>=3.0.0,<4.0.0
# Allow pip to resolve compatible versions based on Flask and requirements.txt
Flask_Cors
flask_sqlalchemy
Flask-JWT-Extended
# Werkzeug removed - will be installed as a dependency of Flask
requests